apiVersion: 1
prune: true

deleteDatasources:
  - name: Loki
    orgId: 1

datasources:
  - name: loki-monitoring-server02
    type: loki
    access: proxy
    url: http://<OBSERVATION_SERVER_IP>:3100
    isDefault: false
    editable: false
  - name: loki-monitoring-server01
    type: loki
    access: proxy
    url: http://<PROXY_SERVER_IP>:3100
    isDefault: false
    editable: false
