apiVersion: 1
prune: true

deleteDatasources:
  - name: Prometheus
    orgId: 1

datasources:
  - name: monitoring-server02
    type: prometheus
    access: proxy
    url: http://<OBSERVATION_SERVER_IP>:9090
    isDefault: false
    editable: false
  - name: monitoring-server01
    type: prometheus
    access: proxy
    url: http://<PROXY_SERVER_IP>:9090
    isDefault: true
    editable: false
