#!/usr/sbin/nft -f

flush ruleset

table inet filter {
    chain input {
        type filter hook input priority 0;
        policy drop;

        iif "lo" accept
        ct state established,related accept

        ip protocol icmp accept
        ip6 nexthdr icmpv6 accept

        tcp dport 22 accept
{% if loki_firewall_whitelist_ips | default([]) | length > 0 %}
        tcp dport 3100 ip saddr { {{ loki_firewall_whitelist_ips | join(', ') }} } accept
{% else %}
        tcp dport 3100 accept
{% endif %}
{% if prometheus_firewall_whitelist_ips | default([]) | length > 0 %}
        tcp dport 9090 ip saddr { {{ prometheus_firewall_whitelist_ips | join(', ') }} } accept
{% else %}
        tcp dport 9090 accept
{% endif %}
    }

    chain forward {
        type filter hook forward priority 0;
        policy drop;
    }

    chain output {
        type filter hook output priority 0;
        policy accept;
    }
}
