[Unit]
Description=Promtail
Wants=network-online.target
After=network-online.target

[Service]
User={{ loki_user }}
Group={{ loki_group }}
Type=simple
ExecStart={{ loki_install_dir }}/promtail -config.file={{ promtail_config_dir }}/promtail.yml
Restart=on-failure

[Install]
WantedBy=multi-user.target
